*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(135deg, rgb(32, 28, 28), aqua );
}

.todo-app{
  width: 100%;
  max-width: 540px;
  margin: 10px auto;
  padding: 40px 30px;
  border-radius: 10px; 
}

.todo-app h2 {
  color: #324a71;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.input-container{
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.text-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  font-size: 1.3rem;
}

.add-btn, button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 16px 50px;
  background: navy;
  color:#ffff;
  font-size: 20px;
  border-radius: 40px;
}

.add-btn:hover {
  background: rgb(13, 13, 154);
  color: aqua;
}

.list-item{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
}

.todo-div {
  background-color: #edeef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  max-width: 30%;
  margin-left: 35%;
}

